@import (less) "../node_modules/hydrogen-css/dist/hydrogen.min.css";

@white: rgb(255, 255, 255);
@blue: rgb(0, 128, 255);
@purple: rgb(64, 0, 255);
@mint: rgb(0, 255, 128);

body {
  animation: fade-in .5s ease-in;
  background: @white;
  font-size: 1.25rem;
  line-height: 1.5;
}

a {
  color: @blue;

  &:visited{
    color: darken(@blue, 7%);
  }
}

h1 {
  font-size: 2.75em;  
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 1.5em;
}

blockquote {
  .h-blockquote;  
  background: @white;  
  font-size: 85%;
  margin:  2em 0;
  opacity: .7;

  p {    
    &:last-child {
      margin: 0;
    }
  }  
}

.stage {  
  margin: 0 auto;
  max-width: 40rem;
  padding: 1em;
}

.header {
  .me {
    img {
      border-radius: 100%;
    }
  }
}

@keyframes fade-in {
  from {
    opacity:  0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 30rem)
{
  body {
    font-size: 1.5rem;
  }
}
