@import (less) "../node_modules/hydrogen-css/dist/hydrogen.min.css";

@white: #f2f2f2;
@black: #000d1a;
@mint: lighten(rgb(117, 211, 178), 14%, 'relative');

* {
  transition: all .3125s ease-in;
}

body {
  color: @white;
}

.background-black {
  background: @black;
}

.stage {
  font-family: 'Mukta Mahee', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2, p, .project-title, .project-description {
  font-weight: 100;
} 

p, .project-title, .project-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

a {
  color: @white;
  text-decoration: none;

  &:hover {
    color: @mint;

    &.border {
      border-color: @mint;
    }
  }

  &.border {
    border-bottom: .125rem solid @white;    
  }
}

.project-title {      
  a {
    display: inline-block;
    padding-bottom: .5rem;
  }

  .project-description {
    margin-left: 1rem;
  }
}

.stage {
  margin: 0 auto;
  max-width: 48rem;
  padding: 0 1rem;
  width: 48rem;

  &.emphasize:hover {

    p {
      color: darken(@white, 56%, 'relative');
    }    

    .keyword {
      color: @white;
    }
  }

}

@media screen and (min-width: 64rem) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  p, .project-title, .project-description {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}