* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);

}
a:hover,
a:focus {
    text-decoration: underline; 
} 

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout { 
    padding: 0;
}
 
.header {
    text-align: center;
    top: auto;
    margin: 1.5em auto;
    padding: 0 1em;
}

.sidebar {
    background-color: rgb(61, 79, 93);
    color: #fff;
/* IE10+ */ 
background-image: -ms-linear-gradient(top, #3D4F5D 10%, #28343E 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #3D4F5D 10%, #28343E 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #3D4F5D 10%, #28343E 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20, #3D4F5D), color-stop(100, #28343E));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #3D4F5D 10%, #28343E 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #3D4F5D 10%, #28343E 100%);
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {    
    line-height: 1; 
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size:1.5em;
    margin-bottom: .125em;
}
.brand-title > a{
        color: #fff;
            text-decoration: none;
}

.brand-tagline {
    margin-bottom: .5rem;
    font-weight: 300;
    font-size: 1.125em;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 .25rem .25rem 0; 
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 75%;
        transition: all 150ms ease-in-out;  
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;

    a {
        color: #aaa;
        text-decoration: none;
    }
}

.content {
    padding: 1.25em 1em 0;
}

.post {
    display: block;  
    margin: 0 -1em;
    padding: 1em;

    &:nth-child(odd) {
        background-color: darken(#fdfdfd, 1%);
    }
}

.post-title {
    font-size: 1.6125em;
    margin-top: 0;
        margin-bottom: .25em;
    padding-bottom: .25em;
    line-height: 1.4;
}

.post-title, .post-title > a {
    
    
    color: #222;

}
.post-title a {
    padding-bottom: 1px;
            text-decoration: none;

    &:hover {
        border-bottom: 4px solid rgb(61, 79, 93);
    }
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-meta > a {
    margin: 0 0.125em .25em;
    padding: 0.3em 1em;
    color: #fdfdfd;
    background: #999;
    font-size: 80%;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.pagination {
    padding-bottom: 2em;
    ul {
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            width: 50%;
            text-align: right;

            &:first-child {
                text-align: left;
            }
            &.disabled {
                    visibility: hidden;
                }
        }
    }
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}


@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 33.33%;
    }
    .post {
        margin: 0 -3em;
        padding: 1em 3em;
    }
    .post-title {
        font-size: 2em;
    }
    .nav-item a {
        margin-top: .5em; 
        font-size: 85%;  
    }

    .header {
        margin: 60% 2em 0;
        text-align: right;
        padding: 0;  
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
/* IE10+ */ 
background-image: -ms-linear-gradient(left, #3D4F5D 10%, #28343E 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #3D4F5D 10%, #28343E 100%);

/* Opera */ 
background-image: -o-linear-gradient(left, #3D4F5D 10%, #28343E 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(20, #3D4F5D), color-stop(100, #28343E));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #3D4F5D 10%, #28343E 100%);

/* W3C Markup */ 
background-image: linear-gradient(to right, #3D4F5D 10%, #28343E 100%);
    }

    .brand-title {
        margin-bottom: 0.125em;    
        font-size: 2em;
    }

    .brand-tagline {
        font-size: 1.25em;
    }
}

@media (min-width: 64em) {
    .content {
        margin-left: 25%;
    }
}