{{> head }} 

<svg viewBox="0 0 225 280" width="162" height="190" xmlns="http://www.w3.org/2000/svg">
    <path class="bat-eyes" fill="#FFF" d="M13.074 7.105l25.294 31.832 43.484-4.264M142.07 34.695l40.4 4.586 27.7-33.788"/>
    <path class="bat-face" fill="#FCCE9C" d="M13.642 81.852l97.768 24.726 98.904-25.294V231.63l-36.663 32.968H49.737l-37.23-33.536V81.555l12.504 3.14 51.158 25.01"/>
</svg>
<br /><br /><br />

<h1>Pim<br/>Brouwers</h1>
<br /><br />

<h3>Data Architect at the <a href="http://nhlpa.com" target="_blank">NHLPA</a> in Toronto, author of <a href="https://www.nuget.org/packages/Cinch.SqlBuilder/" target="_blank" title="Cinch.SqlBuilder on NuGet">SqlBuilder</a> & <a href="https://www.nuget.org/packages/Cinch.HTTipi/" target="_blank" title="Cinch.HTTipi on NuGet">HTTipi</a>.</h3>
<br /><br /><br /><br />

<h2>
    <a href="https://stackoverflow.com/users/2421277/pim" target="_blank" title="Pim Brouwers on StackOverflow">
        <span class="socicon socicon-stackoverflow"></span>
    </a>

    <a href="https://github.com/pimbrouwers" target="_blank" title="Pim Brouwers on GitHub">
        <span class="socicon socicon-github"></span>
    </a>

    <a href="https://twitter.com/pim_brouwers" target="_blank" title="Pim Brouwers on Twitter">
        <span class="socicon socicon-twitter"></span>
    </a>

    <a href="https://www.linkedin.com/in/mpbrouwers/" target="_blank" title="Pim Brouwers on LinkedIn">
        <span class="socicon socicon-linkedin"></span>
    </a>

</h2>

{{> foot }}

