<footer class="footer contain">
    <a href="http://stackoverflow.com/users/2421277/jiminygillickrs" target="_blank" title="Pim Brouwers' Stack Overflow Profile"><span class="fa fa-stack-overflow"></span> Stack Overflow</a>
    <a href="https://github.com/pimbrouwers" target="_blank" title="Pim Brouwers' GitHub Profile"><span class="fa fa-github-square"></span> GitHub</a>
    <a href="http://ca.linkedin.com/pub/pim-brouwers/4b/3a3/223/" target="_blank" title="Pim Brouwers' LinkedIn Profile"><span class="fa fa-linkedin-square"></span> LinkedIn</a>
</footer>

