<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">

    <title>{{title}}</title>
    
    <meta name=author content="Pim Brouwers">
    <meta name="description" content="Problem solver, serial learner, chair raver and builder of digital things.">
    <meta name="google-site-verification" content="iG1XdnX4f9LBgkELpy_fTAfKRLnLcLCWj6ZpC_NlbYI">

    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?rd5re8">
</head>
<body>