@model PostEditModel

<h1 class="h-title">New Post</h1>

@if (Model.Post.Tags != null && Model.Post.Tags.Any())
{
  @foreach (var tag in Model.Post.Tags)
  {
    <span class="h-badge h-badge-fill h-margin-right">
      @tag.Label

      <a class="h-right h-margin-left" asp-controller="PostTag" asp-action="Delete" asp-route-postId="@Model.Post.Id" asp-route-tagId="@tag.Id">&times;</a>
    </span>    
  }
}

<form class="h-form" method="post">
  <div asp-validation-summary="All"></div>

  <fieldset>
    <input type="hidden" asp-for="Post.Id" />

    <label>Title</label>
    <input class="h-margin-bottom" asp-for="Post.Title" />

    <label>TLDR</label>
    <textarea class="h-margin-bottom" asp-for="Post.Tldr"></textarea>

    <label>Date</label>
    <input class="h-margin-bottom" type="date" asp-for="Post.Dt" />

    <label>Tags</label>
    <input class="h-margin-top h-margin-bottom" asp-for="Tags" />

    <label>Body</label>
    <textarea class="h-margin-bottom" asp-for="Post.Body" data-bind="simpleMde"></textarea>
  </fieldset>

  <div class="h-text-right h-margin-top h-margin-bottom">
    <button class="h-btn">Save</button>
  </div>
</form>