@model PostIndexModel

@if (Model.Posts != null && Model.Posts.Any())
{
  <section class="posts">
    @foreach (var post in Model.Posts)
    {
    <article class="post">
      <section class="meta">
        <span class="published">@post.Dt.ToString("D")</span>
        <span class="post-type">--</span>
      </section>
      <h2>
        <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">@post.Title</a>        
      </h2>
      
      <p>@post.Tldr</p>

      <small>
        <a href="#">continue &raquo;</a>
      </small>
    </article>
    }
  </section>
}
