@import "_base.less";
@import (less) "../../node_modules/simplemde/dist/simplemde.min.css";

//forms
.h-form {
  textarea {
    resize: vertical;
  }
}

//validation
.validation-summary-errors {
  border: 1px solid red;
  background: lighten(red, 85%, 'relative');
  color: red;
  margin: 0 0 1rem;
  padding: .5rem 1rem;

  ul {
    margin: 0;
  }
}

