:root {
    --sepia: hsl(20, 60%, 99%);
    --silver: hsl(0, 0%, 80%);
    --slate: hsl(0, 0%, 20%);
    --purple: hsl(278, 97%, 63%);
    --washed-purple: hsla(278, 97%, 63%, 0.102);
}

@media (prefers-color-scheme: dark) {
    /* :root {
        --sepia: hsl(0, 0%, 4%);
        --slate: hsl(0, 0%, 80%, 0.9);
    } */
}
html {
    max-width: 48rem; margin: 1rem;
    font-size: 16px; font-family: Times, serif; line-height: 1.5;
    color: var(--slate); background: var(--sepia); }
hr {
    max-width: 80px; height: 0; margin: 2rem 0;
    border-top: 1px dotted var(--silver); }
a { color: inherit; }
h1, h2, h3, h4, h5 { font-family: Arial, sans-serif   }
p, p > a, p > a:visited { color: inherit; }
p > a:hover { color: var(--purple); }
blockquote {
    margin-left: 0; margin-right: 0; padding: 1em;
    background: var(--washed-purple);
    border-left: 4px solid var(--purple) }
img { max-width: 100%; margin-top: .5rem; }
code[class*="language-"], pre[class*="language-"] { font-size: .875rem; }
pre[class*="language-"] { padding: 1rem; }
pre { overflow-x: auto; overflow-wrap: normal; white-space: pre; font-size: .875rem; margin: 1rem 0; padding: 1rem; color: #eff0f9; background: #333; }
code { vertical-align: middle; font-family: Consolas, Monaco, monospace; background-color: var(--washed-purple); }
pre > code { background-color: inherit; }
p > code { padding: 0 .25rem; }

  @media screen and (min-width: 640px) {
    html { margin: 7% 10%; }
    body { font-size: 1.25em; }
    h2 { margin: 1.75em 0 0; }
    h3 { margin: 1.75em 0 0; }
    code[class*="language-"], pre[class*="language-"] { font-size: 1rem; }
  }

.big { font-size: 125%; }
.muted { opacity: .5; }
.monospace { font-family: monospace; }
