@keyframes opacity100 {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes batEyes {
    0% { transform: translateY(-.75rem); }
    100% { transform: translateY(0); }
}

@keyframes batFace {
    0% { transform: translateY(.75rem); }
    100% { transform: translateY(0); }
}